{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% set product_cover_image_id = product.cover.media.uniqueIdentifier %}
{% set product_position_zero_image = null %}
{% set product_second_image = null %}
{% set product_second_image_thumbnail = null %}
{% set product_images = product.media.elements %}

{% for value in product_images %}
    {% if (value.position == 0)  %}
        {% set product_position_zero_image = value %}
    {% endif %}

    {% if (value.mediaId != product_cover_image_id) and (value.position == 1)  %}
        {% set product_second_image = value %}
    {% endif %}

    {% if (value.mediaId == product_cover_image_id) and (value.position == 1)  %}
        {% set product_second_image = product_position_zero_image %}
    {% endif %}
{% endfor %}

{% if product_second_image %}
    {% for value in product_second_image.media.thumbnails.elements %}
        {% if loop.index == 2 %}
            {% set product_second_image_thumbnail = value %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block component_product_box_content %}

    <template product-hover-plugin></template>
    <div class="card-body" data-second-image="{{ product_second_image ? 'true' : 'false' }}">
        {% block component_product_box_badges %}
            {% sw_include '@Storefront/storefront/component/product/card/badges.html.twig' %}
        {% endblock %}

        {% block component_product_box_rich_snippets %}
            {% sw_include '@Storefront/storefront/component/product/card/meta.html.twig' %}
        {% endblock %}


        {% block component_product_box_image %}
            <div class="product-image-wrapper">
                {# fallback if display mode is not set #}
                {% set displayMode = displayMode ?: 'standard' %}

                {# set display mode 'cover' for box-image with standard display mode #}
                {% if layout == 'image' and displayMode == 'standard' %}
                    {% set displayMode = 'cover' %}
                {% endif %}

                <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                    title="{{ name }}"
                    class="product-image-link is-{{ displayMode }}">
                    <div class="first-product-image">
                        {% if cover.url %}
                            {% set attributes = {
                                'class': 'product-image is-'~displayMode,
                                'alt': (cover.translated.alt ?: name),
                                'title': (cover.translated.title ?: name)
                            } %}

                            {% if displayMode == 'cover' or displayMode == 'contain' %}
                                {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                            {% endif %}

                            {% sw_thumbnails 'product-image-thumbnails' with {
                                media: cover,
                                sizes: {
                                    'xs': '501px',
                                    'sm': '315px',
                                    'md': '427px',
                                    'lg': '333px',
                                    'xl': '284px'
                                }
                            } %}
                        {% else %}
                            <div class="product-image-placeholder">
                                {% sw_icon 'placeholder' style {
                                    'size': 'fluid'
                                } %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="second-product-image" data-second-imageurl="{{ product_second_image_thumbnail.url }}">
                       
                    </div>

                </a>
            </div>
        {% endblock %}
        {% block component_product_box_info %}
        <div class="product-info">
            {% block component_product_box_rating %}
                {% if shopware.config.core.listing.showReview %}
                    <div class="product-rating">
                        {% if product.ratingAverage %}
                            {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                points: product.ratingAverage,
                                style: 'text-primary'
                            } %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block component_product_box_name %}
                <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                    class="product-name"
                    title="{{ name }}">
                    {{ name }}
                </a>
            {% endblock %}

            {% block component_product_box_variant_characteristics %}
                <div class="product-variant-characteristics">
                    <div class="product-variant-characteristics-text">
                        {% if not product.isGrouped %}
                            {% for variation in product.variation %}
                                {{ variation.group }}:
                                <span class="product-variant-characteristics-option">
                                    {{ variation.option }}
                                </span>

                                {% if product.variation|last != variation %}
                                    {{ " | " }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endblock %}

            {% block component_product_box_description %}
                <div class="product-description">
                    {{ product.translated.description|striptags|raw }}
                </div>
            {% endblock %}

            {% block component_product_box_price %}
                {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
            {% endblock %}

            {% block component_product_box_action %}
                {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}

 


