.first-product-image{
    display: block;
}

.second-product-image{
    display: none;
}

.secondImageContent {
    width: 220px;
}

@media (max-width: 1920px) {
    .secondImageContent {
        width: 93px;
    }
}

@media (max-width: 575px) {
    .secondImageContent {
        width: 180px;
    }
}